    @charset "UTF-8";

    header {
        text-align: center;
    }

    body {
        background-color: rgb(229, 233, 238);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    h1 {
        color: darkblue;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }
    h2  {
        color: red;
        background-color: rgb(211, 204, 191);
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 160px;
    }
    h3  {
        background-color: rgb(221, 210, 181);
        width: 140px;
        text-decoration: underline;
        text-decoration-color: blue;
    }
    p   {
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    /*h1 = tag 
    color = propriedade
    darkblue = valor */
